# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_PROXIAO_LEFT
	def_bool $(shields_list_contains,proXiao_left)

config SHIELD_PROXIAO_RIGHT
	def_bool $(shields_list_contains,proXiao_right)
