/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "proXiao.dtsi"

&default_transform {
	col-offset = <6>;
};

/*
*		= <&pro_micro 14 GPIO_ACTIVE_HIGH>
*		, <&pro_micro 15 GPIO_ACTIVE_HIGH>
*		, <&pro_micro 18 GPIO_ACTIVE_HIGH>
*		, <&pro_micro 19 GPIO_ACTIVE_HIGH>
*		, <&pro_micro 20 GPIO_ACTIVE_HIGH>
*		, <&pro_micro 21 GPIO_ACTIVE_HIGH>
*/

&kscan0 {
	col-gpios
		= <&xiao_d 1 GPIO_ACTIVE_HIGH>
        , <&xiao_d 2 GPIO_ACTIVE_HIGH>
        , <&xiao_d 3 GPIO_ACTIVE_HIGH>
        , <&xiao_d 6 GPIO_ACTIVE_HIGH>
        , <&xiao_d 5 GPIO_ACTIVE_HIGH>
		, <&xiao_d 4 GPIO_ACTIVE_HIGH>
		;
};
